# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
coverage

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
plugins/.DS_Store
.DS_Store

# PHP devtools
composer.phar
vendor/

# Wordpress files
www/*
!www/wp-content
www/wp-content/*

!www/wp-content/themes
www/wp-content/themes/*
!www/wp-content/themes/art-child

!www/wp-content/plugins
www/wp-content/plugins/*
!www/wp-content/plugins/art-cms



