/**
 * SCSS VARIABLES
 */



/* COLOURS */
$black: #000;
$v-dark-grey: #121212;
$dark-grey: #252525;
$light-grey: #828282;
$v-light-grey: #eee;
$white: #fff;
$dark-red: #380f0f;


/* TYPEFACES */
$headings-font: "Montserrat", sans-serif;


/* FONT SIZES */
$tiny-text: 8px;
$small-text: 9px;
$mid-text: 16px;
$big-text: 18px;
$huge-text: 22px;


$generic-padding: 1em;
 