// *
// SCSS VARIABLES
// *



/// Colours
$black: #000;
$v-dark-grey: #121212;
$dark-grey: #252525;
$mid-dark-grey: #4e4e4e;
$mid-grey: #828282;
$mid-light-grey: #9e9e9e;
$light-grey: #c6c6c6;
$v-light-grey: #ececec;
$white: #fff;
$dark-red: #380f0f;


/// Typefaces
$headings-font: "Montserrat", sans-serif;


/// Font sizes
$tiny-text: 8px;
$small-text: 9px;
$mid-text: 16px;
$big-text: 18px;
$huge-text: 22px;


$generic-padding: 1em;
 